# python -m venv venv
# venv\Scripts\activate

# зависимости для windows
# использую для установки на виртуальной машине Windows
# pip install -r requirements.txt
ezdxf
openpyxl
pydantic
pyinstaller
wmi
